<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>

<form method="POST">
    <br>
    Sender name: <input type="text" name="senderName">
    <br>
    <br>
    Sender password: <input type="text" name="senderPass">
    <br>
    <br>
    Count: <input type="long" name="count">
    <br>
    <br>
    Name to: <input type="text" name="nameTo">
    <br>
    <br>
    <button type="submit">Submit</button>
    <input type="hidden" name="trigger" value="2">
</form>

</body>
</html>