<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
    </tr>
</table>
<form method="POST">
    <br>
    Login: <input type="text" name="name"> <br>
    <br>
    Password: <input type="text" name="password"> <br>
    <br>
    Money: <input type="text" name="money" > <br>
    <br>
    <button type="submit">Submit</button>
    <input type="hidden" name="trigger" value="1">
</form>

<form>

</form>

</body>
</html>